export(buildReport)
export(drawSchedule)
export(myfunction)
export(optimizeAccentModel)
export(parseSolution)
export(print.myclassname)
export(randomAccentModelInput)
export(readSimpleJSONModelInput)
export(readSplanJSONInput)
export(readXLSModelInput)
export(runShinyAccent)
export(schedule)
export(setLogging)
